/* mobile.css */
body {
    background: #fff;
  }

  
  
  /* pc전용 콘텐츠 비표시 */
  .pc-only {
    display: none;
  }

  #login img{
    width: 30px;
    height: 30px;
  }
  
  .container {
    width: 100%;
    display: flex;position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5B1333;
}

  #gnb {
   display: none;
}

#gnb.on {
    position: absolute;
    background: #F8F7F2;
    width: 100%;
    top: 80px;
    padding: 20px 15px;
    display: block;
    z-index: 100;
    transition: 2s;
   
  }
 
#gnb ul {
    margin-top: 32px;
    margin-bottom: 16px;
}

#gnb a {
    color: #5B1333;
    padding-bottom: 26px;
    margin-left: 78px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
  }

  #login {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
    
    #toggle_btn {
        position: absolute;
        right: 10px;
        display: inline-block;
        bottom: 20px;
        background-color: #5B1333;
        border: none;
        cursor: pointer;

    }
    
    header > h1 >a >img {
      display: inline-block;
      margin-top: 10px;

  }

  #gnb > ul > li > a:active {
    color:#BDAB15;
  }
  
  .swiper {
    width: 100%;
    height: calc(100vh - 80px);
    /* background: #ccc; */
  }
  .swiper .swiper-slide.s1{
    background-image: url(../images/m-title01.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide.s2{
    background-image: url(../images/m-title02.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    
  }

  .swiper .swiper-slide .title {
    padding: 10px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
  }
  .swiper .swiper-slide .title2 {
  padding: 10px;
  position: absolute;
  top: 100px;
  border-radius: 20px;
}

.swiper-pagination-bullet {
    border-radius: 0;
    border: 1px solid #5B1333;
    width: 150px;
    height: 8px;
    background-color: transparent;
    opacity: 1;
    margin: 0 !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #5B1333;
    opacity: 1;
  }


  /* 컨텐츠 부분 */

  #mobile-content {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

.gallery1, .gallery2 {
    display: flex;
    justify-content: center;
}

#mobile-content h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 70px;
}

.gallery1 img {
    width: 250px;
    height: 250px;
    position: absolute;
    opacity: 0;
    transition: all 0.7s;
    margin-bottom: 135px;
    cursor: pointer;
}
.gallery2 img {
    width: 250px;
    height: 250px;
    position: absolute;
    opacity: 0;
    transition: all 0.7s;
    margin-bottom: 135px;
    cursor: pointer;
}

.gallery1 img.on {
    opacity: 1;
}
.gallery2 img.on {
    opacity: 1;
}

.btn-group1,
.btn-group2 {
    cursor: pointer;
    padding: 16px;
}
.btn-group1 button,
.btn-group2 button{
    background-color: transparent;
}

.prev, .next {
    border: 0;
    font-size: 35px;
    padding: 15px;
    cursor: pointer;
}
.prev {
    position: absolute;
    top: 40%;
    left: 0;
}
.next {
    position: absolute;
    top: 40%;
    right: 0;
}

/* 여기까지 컨텐츠 */

  